 /*  Header  */

 nav{
	margin-top:10px;
	margin:auto;
	display:inline;
	float:right;
}

header li{
	padding:0 5px 0 5px;
	font-size: 12px;
	width:20%;
	height:40px;
	text-align:center;
	margin:auto;

}

header img{
	margin:20px 46%;

}


/*  Showcase  */

 .background {
 	border-bottom:6px solid #048eaa;
 }


/*  Boxes  */

#boxes .box{
	width:auto;
	margin-bottom:5px;
	margin-left:auto;
	border:3px solid #048eaa;
}